<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pedidos Registrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lista_pedidos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mensaje_flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logo.css') }}">
</head>
<body>
    <h1>Lista de Pedidos Registrados</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul id="flash-messages" class="flash-messages">
        {% for category, message in messages %}
            {% if category == 'success' %}
                <li class="flash-{{ category }}" style="background-color: #d4edda; color: #28a745; padding: 10px; border-radius: 5px; text-align: center;">
                    {{ message }}
                </li>
            {% elif category == 'error' or category == 'elimination' %}
                <li class="flash-{{ category }}" style="background-color: #f8d7da; color: #dc3545; padding: 10px; border-radius: 5px; text-align: center;">
                    {{ message }}
                </li>
            {% else %}
                <li class="flash-{{ category }}" style="background-color: #d1ecf1; color: #0c5460; padding: 10px; border-radius: 5px; text-align: center;">
                    {{ message }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de la Empresa" class="logo">
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido[0] }}</td>
                <td>{{ pedido[1] }}</td>
                <td>{{ pedido[2] }}</td>
                <td>{{ pedido[3] }}</td>
                <td>
                    <a href="{{ url_for('mostrar_formulario_agregar_producto', pedido_id=pedido[0]) }}" class="btn-agregar">Agregar Producto</a>
                    <a href="{{ url_for('listar_productos_por_pedido', pedido_id=pedido[0]) }}" class="btn-ver-productos">Ver Productos del cliente</a>
                    <a href="{{ url_for('editar_estado_pedido', pedido_id=pedido[0]) }}" class="btn-editar">Editar Estado</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="button-container">
        <a href="{{ url_for('mostrar_formulario_pedido') }}" class="btn-primary">Agregar un nuevo pedido</a>
        <a href="{{ url_for('index') }}" class="btn-secondary">Inicio</a>
    </div>
</body>
</html>
